#!/bin/sh

# $FreeBSD$
#
# PROVIDE: motion
# REQUIRE: DAEMON
# KEYWORD: shutdown
#
# Add the following line in /etc/rc.conf to enable motion at startup
#
# motion_enable="YES"

. /etc/rc.subr

name=motion
rcvar=motion_enable

load_rc_config $name

: ${motion_enable:=NO}

command=/usr/local/bin/${name}
pidfile="/var/run/${name}.pid"
required_files=/etc/${name}.conf

start_precmd="${name}_prestart"

motion_prestart()
{
    /sbin/ldconfig /usr/local/lib /opt/vc/lib
}

run_rc_command "$1"
